const dbUrl = 'mongodb://localhost:27017/poloaltbot-2'
const tickerUrl = 'wss://api.poloniex.com'

const volumeLimit = 1000

exports.WAMP_TICKER_URL = tickerUrl
exports.DB_URL = dbUrl
exports.VOLUME_LIMIT = volumeLimit
