const dbUrl = 'mongodb://localhost:27017/poloaltbot-2'
const tickerUrl = 'wss://api.poloniex.com'

const hours = [6, 12, 24, 168, 240, 480]
const volumeLimit = 1000
const apiPort = 4000

exports.WAMP_TICKER_URL = tickerUrl
exports.DB_URL = dbUrl
exports.VOLUME_LIMIT = volumeLimit

exports.API_PORT = apiPort
exports.HOURS_LIST = hours

exports.WATCHED_PAIRS = [
  'BTC_XMR',
  'BTC_MAID',
  'BTC_ETH',
  'BTC_BTCD',
  'BTC_BTS',
  'BTC_DGB',
  'BTC_DOGE',
  'BTC_NMC',
  'BTC_PPC',
  'BTC_QORA',
  'BTC_SILK',
  'BTC_SYS',
  'BTC_XRP',
  'USDT_BTC']
